services:
  - type: web
    name: hz-project-management
    runtime: node
    plan: free
    buildCommand: npm run install-server
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
